{% extends "./base.html" %}

{% block title %} Alta de Usuarios {% endblock %}

{% block body %}
<div class="row">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success face show" id="alerts">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <div class="container col-5">
        <div class="row align-items-center">
            <div class=" ">
                <h2 class="fw-bold text-center py-3">Bienvenido</h2>
        
                <form action="/adduser/" method="POST"> {% csrf_token %}
                    <div class="mb-4">
                        <label for="username" class="form-label">Nombre del usuario</label>
                        <input type="text" class="form-control" name="username" placeholder="Nomnbre de usaurio" required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" name="email" placeholder="micorreo@correo.com.mx" required>
                    </div>
                    <div class="mb-4">
                        <label for="password1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password1" placeholder="Contraseña" required>
                    </div>
                    <div class="mb-4">
                        <label for="password2" class="form-label">Confirma Contraseña</label>
                        <input type="password" class="form-control" name="password2" placeholder="Confirma la contraseña" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}